
.homeText a {
    margin-left: -0.25rem;
    
}
.homeText p {
    min-width: 4vw;
    display: flex;
    justify-content: center;
    font-weight: 300;
    margin-top: 20px;
    font-size: 22px;
    margin-bottom: 0px;
}

.Mason {
    margin-left: -1rem;
}

.homeText .name {
    display: flex;
    margin-top: 100px;
    font-size:100px;
    margin-bottom: -20px;
}

.wave:hover {
    animation: waveJiggleAnimation 0.5s ease;
}

/* Responsive font size for smaller screens */
@media (max-width: 634px) {
    .homeText .name {
        font-size: 70px; /* Adjust this value as needed */
    }
}

@keyframes waveJiggleAnimation {
    0%, 100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(15deg);
    }
    50% {
      transform: rotate(-15deg);
    }
    75% {
      transform: rotate(15deg);
    }
  }