
.homeText a {
    margin-left: -0.25rem;
}
.home{
  margin: 0;
  
}

.homeText {
  min-height: 87vh;
  justify-content: baseline;
  display: flex;
  flex-direction: column;
  
}

.homeText p {
    min-width: 4vw;
    display: flex;
    justify-content: center;
    font-weight: 300;
    margin-top: 20px;
    font-size: 22px;
    margin-bottom: 0px;
}

.Mason {
    margin-left: -1rem;
    
    background: rgba(255, 255, 255, 0.10); 
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.homeText .name {
    display: flex;
    margin-top: 50px;
    font-size:100px;
    margin-bottom: -20px;
    margin-bottom: 2rem;
}

.homeText .projectStart {
  margin-top: 24vh;
  animation: upAndDown 1.5s infinite ease-in-out;
}

.wave:hover {
    animation: waveJiggleAnimation 0.5s ease;
}

.projectsMain {
  display: flex;
  flex-direction: column;  
  align-items: center;
}

.projectsMain button{
  width: max-content;
  background: rgba(255, 255, 255, 0.30); 
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.projectPages {
  margin-top: 20vh;
  margin-bottom: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
.project-page {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.projectHome {
  display: grid;
  padding: 0;
  min-height: 55vh;
  min-width: 55rem;
  background: rgba(255, 255, 255, 0.10); 
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.projectHomeHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  
}

.projectHomeHeader svg {
    width: 35px;
    height: 35px;
}

.projectHomeContent {
  display: flex;
  align-items: top;
  justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 3rem;
  flex-wrap: wrap;
}
.projectHomeContent .projectImage {
  margin-left: auto;
}
.projectHomeContent .projectHomeContentTop {
  margin-top: -2rem
}

.projectGit {
  display: flex;
  margin-left: 3rem;
}

/* Responsive font size for smaller screens */
@media (max-width: 634px) {
    .homeText .name {
        font-size: 70px; /* Adjust this value as needed */
    }
}
@media (max-width: 800px) {
  .projectHome {
      min-width: 20rem;
  }
  .projectHomeContent .projectImage {
    margin-left: 0;
  }
}

@media (max-width: 300px) {
  .projectHome {
      min-width: 10rem;
  }
  .projectHomeContent .projectImage {
    margin-left: 0;
  }
}

@keyframes waveJiggleAnimation {
    0%, 100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(15deg);
    }
    50% {
      transform: rotate(-15deg);
    }
    75% {
      transform: rotate(15deg);
    }

  }

  @keyframes upAndDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
    
  }