nav {
    display: flex;
    margin-top: 0;
    min-width: 320px;
    min-height: 9vh;
    justify-content: center;
    align-items: baseline;
    
 
}

nav .navName {
    margin-right: auto;
    margin-left: 3rem;
}

nav .links {
    margin-left: auto;
    margin-right: 3rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;

}

.links li {
    transition: color 0.3s ease, opacity 0.3s ease, filter 0.3s ease;
}

.links li:hover {
    opacity: 1;
    filter: none;
}

.links:hover li:not(:hover) {
    opacity: 0.6;
    filter: blur(1px);
}
.navbar .links a:not(.active) {
    border-bottom: none;
  }


