
.projectGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 3rem;
    margin-top: 8rem;
}

.project {
    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;


    background: rgba(255, 255, 255, 0.10); 
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.projectHeader {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.project svg {
    height: 30px;
    width: 30px;
}

@media (max-width: 800px) {
    .projectGrid {
        grid-template-columns: 1fr;
    }
}